<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <convert_price>
            <general>
                <enable>1</enable>
                <show_decimal>0</show_decimal>
                <decimal_length>2</decimal_length>
            </general>
        </convert_price>
    </default>
</config>
